/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header .header-wrapper {
  height: 72px;
  max-width: 1600px;
  width: 100%;
  margin-bottom: 64px;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 777px) {
  header .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
header .header-wrapper .logo-menu {
  max-width: 867.18px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .header-wrapper .logo-menu .logo {
  max-width: 200px;
  width: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 777px) {
  header .header-wrapper .logo-menu .logo {
    padding-bottom: 30px;
  }
}
header .header-wrapper .logo-menu .logo .image {
  height: 54px;
  width: 37px;
  vertical-align: middle;
  padding-right: 8px;
}
header .header-wrapper .logo-menu .logo .name {
  color: #274c5b;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
@media (max-width: 1180px) {
  header .header-wrapper .logo-menu .logo .name {
    font-size: 32px;
  }
}
header .header-wrapper .logo-menu .navigation {
  padding: 0 0 0 100px;
  max-width: 620px;
  width: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1400px) {
  header .header-wrapper .logo-menu .navigation {
    padding: 0;
  }
}
@media (max-width: 1270px) {
  header .header-wrapper .logo-menu .navigation {
    display: none;
  }
}
header .header-wrapper .logo-menu ul {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .header-wrapper .logo-menu ul a {
  padding-left: 30px;
  vertical-align: middle;
  color: #274c5b;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .header-wrapper .logo-menu ul .active {
  color: #7eb693;
}
header .header-wrapper .logo-menu ul a:hover {
  color: #7eb693;
  transition: 0.3s;
}
header .header-wrapper .search-and-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 500px;
}
@media (max-width: 1180px) {
  header .header-wrapper .search-and-cart {
    width: 570px;
  }
}
@media (max-width: 526px) {
  header .header-wrapper .search-and-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
header .header-wrapper .search-and-cart .search {
  width: 324px;
  height: 55px;
  border-radius: 33px;
  border: 1px solid #e0e0e0;
  height: 55px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 777px) {
  header .header-wrapper .search-and-cart .search {
    width: 280px;
    margin-bottom: 12px;
  }
}
@media (max-width: 545px) {
  header .header-wrapper .search-and-cart .search {
    width: 250px;
  }
}
@media (max-width: 526px) {
  header .header-wrapper .search-and-cart .search {
    width: 100%;
  }
}
header .header-wrapper .search-and-cart .search img {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  padding: 5px;
}
header .header-wrapper .search-and-cart .cart {
  max-width: 148px;
  width: 100%;
  border-radius: 33px;
  border: 1px solid #e0e0e0;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
header .header-wrapper .search-and-cart .cart img {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  padding: 5px;
}
header .header-wrapper .search-and-cart .cart .cart-text {
  color: #274c5b;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: auto;
}
header .header-wrapper .search-and-cart .burger-menu {
  height: 54px;
  width: 54px;
  background-color: #7eb593;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}
@media (max-width: 1270px) {
  header .header-wrapper .search-and-cart .burger-menu {
    display: flex;
  }
}
@media (max-width: 526px) {
  header .header-wrapper .search-and-cart .burger-menu {
    width: 54px;
  }
}
header .header-wrapper .search-and-cart .burger-menu .fa-solid {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.newsletter {
  min-height: 323px;
  background-color: skyblue;
  background-image: url("../.././images/general/newsletter-banner.jpeg");
  background-repeat: repeat;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.newsletter .newsletter-left {
  max-width: 357px;
  min-height: 113px;
  flex-shrink: 0;
}
@media (max-width: 3px) {
  .newsletter .newsletter-left {
    max-width: 300px;
  }
}
.newsletter .newsletter-left h2 {
  color: #fff;
}
@media (max-width: 590px) {
  .newsletter .newsletter-left h2 {
    text-align: center;
    font-size: 40px;
  }
}
@media (max-width: 362px) {
  .newsletter .newsletter-left h2 {
    font-size: 32px;
  }
}
.newsletter .newsletter-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
@media (max-width: 590px) {
  .newsletter .newsletter-right {
    flex-direction: column;
    justify-content: center;
  }
}
.newsletter .newsletter-right input {
  min-width: 349px;
  min-height: 80px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  border: none;
  padding: 18px 44px;
}
@media (max-width: 362px) {
  .newsletter .newsletter-right input {
    min-width: 250px;
  }
}
.newsletter .newsletter-right ::-moz-placeholder {
  color: #ababab;
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}
.newsletter .newsletter-right ::placeholder {
  color: #ababab;
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 140px 0;
}
@media (max-width: 1045px) {
  .footer-wrapper {
    justify-content: flex-start;
    gap: 50px;
    padding: 100px 0;
  }
}
.footer-wrapper p {
  color: #525c60;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  text-align: center;
}
.footer-wrapper .bold {
  font-weight: 700;
}
.footer-wrapper .footer-left {
  min-height: 307px;
  max-width: 285px;
  margin-right: 50px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
@media (max-width: 1154px) {
  .footer-wrapper .footer-left {
    margin-right: 24px;
  }
}
@media (max-width: 1077px) {
  .footer-wrapper .footer-left {
    align-items: flex-start;
    margin-right: 0;
  }
}
.footer-wrapper .footer-left .parameters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
@media (max-width: 1077px) {
  .footer-wrapper .footer-left .parameters {
    align-items: flex-start;
  }
}
.footer-wrapper .line {
  min-width: 1px;
  min-height: 336px;
  background: #d4d4d4;
}
@media (max-width: 1131px) {
  .footer-wrapper .line {
    display: none;
  }
}
.footer-wrapper .footer-middle {
  max-width: 543px;
  min-height: 307px;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 23px;
}
@media (max-width: 1100px) {
  .footer-wrapper .footer-middle {
    margin: 0 20px;
  }
}
@media (max-width: 1077px) {
  .footer-wrapper .footer-middle {
    align-items: flex-start;
  }
}
@media (max-width: 1045px) {
  .footer-wrapper .footer-middle {
    margin: 0;
  }
}
@media (max-width: 827px) {
  .footer-wrapper .footer-middle {
    max-width: 90%;
    min-height: 200px;
  }
}
@media (max-width: 1077px) {
  .footer-wrapper .footer-middle p {
    text-align: start;
  }
}
.footer-wrapper .footer-middle .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 26px;
  gap: 15px;
}
.footer-wrapper .footer-middle .socials .social-single {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: rgb(239, 246, 241);
  border-radius: 50%;
}
.footer-wrapper .footer-right {
  min-height: 307px;
  max-width: 285px;
  margin-left: 50px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 1154px) {
  .footer-wrapper .footer-right {
    margin-left: 24px;
  }
}
@media (max-width: 1045px) {
  .footer-wrapper .footer-right {
    margin: 0;
  }
}

.logo {
  max-width: 200px;
  width: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.logo .image {
  height: 54px;
  width: 37px;
  vertical-align: middle;
}
.logo .name {
  color: #274c5b;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .container {
    width: 95%;
  }
}

.yellow-button {
  width: 220px;
  height: 79px;
  padding: 28px 39px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 16px;
  background: #efd372;
  border: none;
  color: #274c5b;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.blue-button {
  width: 220px;
  height: 79px;
  padding: 28px 39px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 16px;
  background: #274c5b;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.blue-button a {
  color: #fff;
}

button:hover {
  background-color: gainsboro;
  transition: 1s;
}

.green-text {
  color: #68a47f;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: #274c5b;
  font-family: Roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2 {
  color: #274c5b;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  color: #274c5b;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h4 {
  color: #274c5b;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h5 {
  color: #274c5b;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h6 {
  color: #274c5b;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
}

h6:hover {
  color: #7eb693;
  transition: 0.3s;
}

p {
  color: #525c60;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.cardboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 335px;
  min-height: 483px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #f9f8f8;
}
@media (max-width: 785px) {
  .product-card {
    min-width: 480px;
    min-height: 543px;
  }
}
@media (max-width: 522px) {
  .product-card {
    min-width: 335px;
    min-height: 483px;
  }
}
@media (max-width: 430px) {
  .product-card {
    min-width: 100%;
    min-height: 100%;
  }
}
.product-card .mini-container {
  padding: 24px;
}
.product-card .mini-container .label {
  max-width: 96px;
  display: flex;
  padding: 5px 12px 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #274c5b;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product-card .mini-container .photo {
  width: 335px;
  height: 324px;
}
.product-card .mini-container .name {
  padding-bottom: 13px;
}
.product-card .mini-container .line {
  width: 100%;
  height: 2px;
  stroke-width: 1px;
  background-color: #dedddd;
}
.product-card .mini-container .price-rating {
  width: 100%;
  padding-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.product-card .mini-container .price-rating .prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}
.product-card .mini-container .price-rating .prices .price {
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product-card .mini-container .price-rating .prices .old {
  color: #b8b8b8;
  text-decoration: line-through;
}
.product-card .mini-container .price-rating .prices .new {
  color: #274c5b;
  font-weight: bold;
}

.homepage-1 {
  min-height: 898px;
  max-width: 100%;
  background-color: #f1eff0;
  background-image: url("../../images/homepage/background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1650px) {
  .homepage-1 {
    height: 800px;
  }
}
@media (max-width: 736px) {
  .homepage-1 {
    height: 700px;
    margin-top: 100px;
  }
}
@media (max-width: 526px) {
  .homepage-1 {
    height: 600px;
    margin-top: 150px;
  }
}
.homepage-1 .banner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 1650px) {
  .homepage-1 .banner {
    align-items: center;
    gap: 24px;
  }
}
.homepage-1 .banner .motto {
  max-width: 530px;
}
@media (max-width: 1650px) {
  .homepage-1 .banner .motto {
    max-width: 50%;
    text-align: center;
  }
}
@media (max-width: 777px) {
  .homepage-1 .banner .motto {
    font-size: 50px;
  }
}
@media (max-width: 526px) {
  .homepage-1 .banner .motto {
    font-size: 40px;
    max-width: 60%;
  }
}

.homepage-2 {
  min-height: 500px;
  width: 100%;
  gap: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1035px) {
  .homepage-2 {
    padding: 80px 0;
  }
}
@media (max-width: 991px) {
  .homepage-2 {
    flex-wrap: wrap;
  }
}
.homepage-2 .photo-box-pink {
  width: 683px;
  height: 323px;
  background-color: #7eb693;
  border-radius: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../../images/homepage/pink-photo.jpeg");
}
@media (max-width: 1035px) {
  .homepage-2 .photo-box-pink {
    width: 100%;
  }
}
.homepage-2 .photo-box-pink .green-text {
  color: #ffffff;
}
.homepage-2 .photo-box-pink .description {
  color: #ffffff;
}
@media (max-width: 300px) {
  .homepage-2 .photo-box-pink .description {
    font-size: 34px;
  }
}
.homepage-2 .photo-box-green {
  width: 683px;
  height: 323px;
  background-color: #7eb693;
  border-radius: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../../images/homepage/green-photo.jpeg");
}
@media (max-width: 1035px) {
  .homepage-2 .photo-box-green {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .homepage-2 .photo-box-green .description {
    font-size: 34px;
  }
}
.homepage-2 .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 300px;
  height: 148px;
  padding-left: 40px;
}
@media (max-width: 300px) {
  .homepage-2 .text-box {
    height: 200px;
    width: 250px;
  }
}

.homepage-3 {
  min-height: 1067px;
  max-width: 100%;
  background-color: #f9f8f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 911px) {
  .homepage-3 {
    flex-direction: column;
  }
}
.homepage-3 .left-box {
  max-height: 867px;
  max-width: 911px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.homepage-3 .left-box img {
  width: 911px;
  height: 867px;
}
@media (max-width: 911px) {
  .homepage-3 .left-box img {
    height: 70%;
    width: 70%;
  }
}
.homepage-3 .right-box {
  min-height: 700px;
  max-width: 702px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 1612px) {
  .homepage-3 .right-box {
    padding-bottom: 48px;
  }
}
@media (max-width: 911px) {
  .homepage-3 .right-box {
    height: 70%;
    max-width: 70%;
  }
}
.homepage-3 .right-box .rectangle-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 46px 0;
  gap: 30px;
}
.homepage-3 .right-box .rectangle-parent .rectangle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 19px;
}
@media (max-width: 805px) {
  .homepage-3 .right-box .rectangle-parent .rectangle-box {
    justify-content: flex-start;
  }
}
.homepage-3 .right-box .rectangle-parent .rectangle-box .left-side {
  width: 101px;
  height: 101px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.homepage-3 .right-box .rectangle-parent .rectangle-box .right-side {
  max-width: 444px;
  width: 100%;
  min-height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.homepage-4 {
  min-height: 1343px;
  width: 100%;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fff;
  gap: 8px;
}
@media (max-width: 1150px) {
  .homepage-4 {
    padding: 100px 0;
  }
}
.homepage-4 .cardboard {
  padding-top: 32px;
}
.homepage-4 .blue-button {
  margin-top: 122px;
}

.homepage-7 {
  min-height: 323px;
  max-width: 1400px;
  width: 100%;
}
@media (max-width: 1410px) {
  .homepage-7 {
    width: 95%;
  }
}

.shop-1 {
  min-height: 450px;
  max-width: 100%;
  background-color: #f1eff0;
  background-image: url("../../images/shop/shop-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 736px) {
  .shop-1 {
    margin-top: 100px;
    min-height: 300px;
  }
}
@media (max-width: 526px) {
  .shop-1 {
    margin-top: 150px;
  }
}
.shop-1 .name {
  max-width: 150px;
}
@media (max-width: 1650px) {
  .shop-1 .name {
    max-width: 50%;
    text-align: center;
  }
}
@media (max-width: 526px) {
  .shop-1 .name {
    font-size: 40px;
    max-width: 60%;
  }
}
@media (max-width: 777px) {
  .shop-1 .name h1 {
    font-size: 50px;
  }
}

.shop-2 {
  min-height: 1343px;
  width: 100%;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fff;
  gap: 8px;
}
@media (max-width: 1150px) {
  .shop-2 {
    padding: 70px 0;
  }
}
@media (max-width: 736px) {
  .shop-2 {
    padding: 40px 0;
  }
}
.shop-2 .cardboard {
  padding-top: 32px;
}
.shop-2 .blue-button {
  margin-top: 122px;
}/*# sourceMappingURL=global.css.map */