.contact-1 {
  min-height: 450px;
  max-width: 100%;
  background-color: #f1eff0;
  background-image: url("../images/contact/contact-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include myflex(flex, row, center, center, wrap);

  @media (max-width: 736px) {
    margin-top: 100px;
    min-height: 300px;
  }
  @media (max-width: 526px) {
    margin-top: 150px;
  }

  .name {
    max-width: 150px;
    @media (max-width: 1650px) {
      max-width: 50%;
      text-align: center;
    }
    @media (max-width: 526px) {
      font-size: 40px;
      max-width: 60%;
    }
    h1 {
      @media (max-width: 777px) {
        font-size: 50px;
      }
    }
  }
}

.contact-2 {
  min-height: 1067px;
  max-width: 100%;
  background-color: #f9f8f8;
  @include myflex(flex, row, center, center, wrap);
  @media (max-width: 1537px) {
    gap: 50px;
  }
  @media (max-width: 911px) {
    flex-direction: column;
  }
  @media (max-width: 470px) {
    align-items: flex-start;
  }
  .left-box {
    max-height: 867px;
    max-width: 911px;
    width: 100%;
    height: 100%;
    @include myflex(flex, column, center, center, wrap);
    img {
      max-height: 780px;
      max-width: 624px;
      border-radius: 24px;
      @media (max-width: 911px) {
        height: 70%;
        width: 70%;
      }
      @media (max-width: 1537px) {
        margin-top: 100px;
      }
      @media (max-width: 470px) {
        width: 100%;
      }
    }
  }
  .right-box {
    min-height: 700px;
    max-width: 702px;
    width: 100%;
    @include myflex(flex, column, center, flex-start, wrap);
    gap: 8px;
    a {
      color: #525c60;
    }
    @media (max-width: 1700px) {
      max-width: 550px;
    }
    @media (max-width: 1612px) {
      padding-bottom: 48px;
    }
    @media (max-width: 1537px) {
      max-width: 750px;
      align-items: center;
    }
    @media (max-width: 415px) {
      justify-content: flex-start;
      text-align: start;
    }
    h2 {
      @media (max-width: 1537px) {
        text-align: center;
        padding: 20px 0;
      }
      @media (max-width: 581px) {
        font-size: 40px;
      }
      @media (max-width: 530px) {
        text-align: start;
      }
    }

    @media (max-width: 911px) {
      height: 70%;
      max-width: 70%;
    }
    .rectangle-parent {
      @include myflex(flex, column, center, flex-start, nowrap);
      gap: 30px;
      max-width: 352px;
      max-height: 243px;
      margin: 34px 0;
      .rectangle-box {
        min-width: 352px;
        max-height: 113px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid #eee;
        background: #fff;
        @include myflex(flex, row, center, flex-start, nowrap);
        @media (max-width: 805px) {
          justify-content: flex-start;
        }
        @media (max-width: 445px) {
          min-width: 320px;
        }
        gap: 19px;
        .left-side {
          width: 101px;
          height: 101px;
          flex-shrink: 0;
          border-radius: 20px;
          background: #fff;
          @include myflex(flex, row, center, center, wrap);
        }
        .right-side {
          max-width: 444px;
          width: 100%;
          min-height: 101px;
          @include myflex(flex, column, center, flex-start, nowrap);
        }
      }
    }
    .socials {
      @include myflex(flex, row, center, center, nowrap);
      gap: 12px;
      cursor: pointer;
    }
  }
}

.contact-form {
  min-height: 1000px;
  width: 100%;
  padding: 100px 0;

  .container {
    max-width: 1184px;
  }
  .rowzz {
    @include myflex(flex, row, space-between, center, wrap);
    gap: 50px;
    margin: 50px 0;
    @media (max-width: 1242px) {
      justify-content: center;
    }
  }
  input[type="text"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 80px;
    border-radius: 16px;
    border: 1px solid #7eb693;
    background: #fff;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  #subject {
    min-width: 100%;
    min-width: 850px;
    height: 200px;
    @media (max-width: 1242px) {
      width: 100%;
      min-width: 0;
    }
    @media (max-width: 470px) {
      width: 100%;
      min-width: 0;
    }
  }
  .name-label {
    min-width: 400px;
    float: left;
    width: 100%;
    margin-top: 6px;
    color: #274c5b;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 470px) {
      width: 100%;
      min-width: 0;
    }
  }
  .fill-in {
    float: left;
    width: 100%;
    margin-top: 6px;
  }
}
