.homepage-1 {
  min-height: 898px;
  max-width: 100%;
  background-color: #f1eff0;
  background-image: url("../../images/homepage/background.png");
  @include myflex(flex, column, center, center, wrap);
  @media (max-width: 1650px) {
    height: 800px;
  }
  @media (max-width: 736px) {
    height: 700px;
    margin-top: 100px;
  }
  @media (max-width: 526px) {
    height: 600px;
    margin-top: 150px;
  }
  .banner {
    height: 100%;
    width: 100%;
    @include myflex(flex, column, center, flex-start, wrap);
    gap: 16px;
    @media (max-width: 1650px) {
      align-items: center;
      gap: 24px;
    }
    .motto {
      max-width: 530px;
      @media (max-width: 1650px) {
        max-width: 50%;
        text-align: center;
      }
      @media (max-width: 777px) {
        font-size: 50px;
      }
      @media (max-width: 526px) {
        font-size: 40px;
        max-width: 60%;
      }
    }
  }
}

.homepage-2 {
  min-height: 500px;
  width: 100%;
  gap: 36px;
  @include myflex(flex, row, center, center, nowrap);
  @media (max-width: 1035px) {
    padding: 80px 0;
  }
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
  .photo-box-pink {
    @include photo-box;
    background-image: url("../../images/homepage/pink-photo.jpeg");
    .green-text {
      color: #ffffff;
    }
    .description {
      color: #ffffff;
      @media (max-width: 300px) {
        font-size: 34px;
      }
    }
  }
  .photo-box-green {
    @include photo-box;
    background-image: url("../../images/homepage/green-photo.jpeg");
    .description {
      @media (max-width: 300px) {
        font-size: 34px;
      }
    }
  }
  .text-box {
    @include myflex(flex, column, center, flex-start, wrap);
    width: 300px;
    height: 148px;
    padding-left: 40px;
    @media (max-width: 300px) {
      height: 200px;
      width: 250px;
    }
  }
}

.homepage-3 {
  min-height: 1067px;
  max-width: 100%;
  background-color: #f9f8f8;
  @include myflex(flex, row, center, center, wrap);
  @media (max-width: 911px) {
    flex-direction: column;
  }
  .left-box {
    max-height: 867px;
    max-width: 911px;
    width: 100%;
    height: 100%;
    @include myflex(flex, column, center, center, wrap);
    img {
      width: 911px;
      height: 867px;
      @media (max-width: 911px) {
        height: 70%;
        width: 70%;
      }
    }
  }
  .right-box {
    min-height: 700px;
    max-width: 702px;
    width: 100%;
    @include myflex(flex, column, center, flex-start, wrap);
    gap: 8px;
    @media (max-width: 1612px) {
      padding-bottom: 48px;
    }
    @media (max-width: 911px) {
      height: 70%;
      max-width: 70%;
    }
    .rectangle-parent {
      @include myflex(flex, column, center, flex-start, wrap);
      padding: 46px 0;
      gap: 30px;
      .rectangle-box {
        @include myflex(flex, row, center, flex-start, wrap);
        @media (max-width: 805px) {
          justify-content: flex-start;
        }
        gap: 19px;
        .left-side {
          width: 101px;
          height: 101px;
          flex-shrink: 0;
          border-radius: 20px;
          background: #fff;
          @include myflex(flex, row, center, center, wrap);
        }
        .right-side {
          max-width: 444px;
          width: 100%;
          min-height: 101px;
          @include myflex(flex, column, center, flex-start, nowrap);
        }
      }
    }
  }
}

.homepage-4 {
  min-height: 1343px;
  width: 100%;
  padding: 200px 0;
  @include myflex(flex, column, center, center, nowrap);
  background-color: #fff;
  gap: 8px;
  @media (max-width: 1150px) {
    padding: 100px 0;
  }
  .cardboard {
    padding-top: 32px;
  }
  .blue-button {
    margin-top: 122px;
  }
}

.homepage-7 {
  min-height: 323px;
  max-width: 1400px;
  width: 100%;
  @media (max-width: 1410px) {
    width: 95%;
  }
}
